<div class="swiper slider-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <picture>
                <source srcset="{{ 'assets/images/slides/01-sm.jpg'|theme }}" media="(max-width: 575px)">

                <img src="{{ 'assets/images/slides/01.jpg'|theme }}" alt="slide01" class="img-fluid of-sm-cover">
            </picture>

            <div class="container-lg position-absolute">
                <p class="h1 lh-76 text-white mb-4 text-center text-sm-start">
                    Exkluzivní finanční<br>
                    poradenství
                </p>

                <p class="mt-3 pt-3 border-1 border-green-light border-top fs-35 lh-46 fst-italic text-center text-sm-start">
                    Pro klienty zajišťujeme <span class="fw-bold">nadstandardní služby</span> a
                    <span class="fw-bold">speciální servis</span>, obchodem naše práce teprve začíná.
                </p>

                <p class="mt-4 mb-0 text-center text-sm-start">
                    <a href="{{ 'sluzba'|page({"slug": "permanentni-portfolio"}) }}" class="btn btn-outline-white text-uppercase">
                        Chci poradenství
                    </a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <picture>
                <source srcset="{{ 'assets/images/slides/02-sm.jpg'|theme }}" media="(max-width: 575px)">

                <img src="{{ 'assets/images/slides/02.jpg'|theme }}" alt="slide01" class="img-fluid of-sm-cover">
            </picture>

            <div class="container-lg position-absolute">
                <p class="h1 lh-76 text-white mb-4 text-center text-sm-start">
                    Postaráme se <br>
                    o vaše finance
                </p>

                <p class="mt-3 pt-3 border-1 border-green-light border-top fs-35 lh-46 fst-italic text-center text-sm-start">
                    Jsme konzultanti, kteří dělají poradenství jako poctivé řemeslo. Zajišťujeme
                    <span class="fw-bold">komplexní administrativní servis</span>.
                </p>

                <p class="mt-4 mb-0 text-center text-sm-start">
                    <a href="{{ 'sluzba'|page({"slug": "komplexni-administrativni-servis"}) }}" class="btn btn-outline-white text-uppercase">
                        Chci servis
                    </a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <picture>
                <source srcset="{{ 'assets/images/slides/03-sm.jpg'|theme }}" media="(max-width: 575px)">

                <img src="{{ 'assets/images/slides/03.jpg'|theme }}" alt="slide01" class="img-fluid of-sm-cover">
            </picture>

            <div class="container-lg position-absolute">
                <p class="h1 lh-76 text-white mb-4 text-center text-sm-start">
                    Jsme odborníci <br>
                    přes financování <br>
                    nemovitostí
                </p>

                <p class="mt-3 pt-3 border-1 border-green-light border-top fs-35 lh-46 fst-italic text-center text-sm-start">
                    Společně navrhneme nejlepší řešení, vybereme vhodný typ financování a
                    <span class="fw-bold">vyřídíme všechny papíry</span>.
                </p>

                <p class="mt-4 mb-0 text-center text-sm-start">
                    <a href="{{ 'sluzba'|page({"slug": "uvery"}) }}" class="btn btn-outline-white text-uppercase">
                        Chci úvěr
                    </a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <picture>
                <source srcset="{{ 'assets/images/slides/04-sm.jpg'|theme }}" media="(max-width: 575px)">

                <img src="{{ 'assets/images/slides/04.jpg'|theme }}" alt="slide01" class="img-fluid of-sm-cover">
            </picture>

            <div class="container-lg position-absolute">
                <p class="h1 lh-76 text-white mb-4 text-center text-sm-start">
                    Pracujeme jako <br>
                    investiční kouči
                </p>

                <p class="mt-3 pt-3 border-1 border-green-light border-top fs-35 lh-46 fst-italic text-center text-sm-start">
                    Pomáháme lidem udržet se na jejich cestě za jejich finančními cíli. S klienty stanovujeme očekávání,
                    důležité milníky a pomáháme jim sledovat <span class="fw-bold">dlouhodobé cíle</span>. Uskutečněte
                    své <span class="fw-bold">životní cíle</span>, společně to umíme a dokážeme!
                </p>

                <p class="mt-4 mb-0 text-center text-sm-start">
                    <a href="{{ 'sluzba'|page({"slug": "financni-planovani"}) }}" class="btn btn-outline-white text-uppercase">
                        Chci kouče a plán
                    </a>
                </p>
            </div>
        </div>

        <div class="swiper-slide">
            <picture>
                <source srcset="{{ 'assets/images/slides/05-sm.jpg'|theme }}" media="(max-width: 575px)">

                <img src="{{ 'assets/images/slides/05.jpg'|theme }}" alt="slide01" class="img-fluid of-sm-cover">
            </picture>

            <div class="container-lg position-absolute">
                <p class="h1 lh-76 text-white mb-4 text-center text-sm-start">
                    Prodáváte nebo <br>
                    hledáte?
                </p>

                <p class="mt-3 pt-3 border-1 border-green-light border-top fs-35 lh-46 fst-italic text-center text-sm-start">
                    Prodáváte nemovitosti nebo hledáte vysněné bydlení? <span class="fw-bold">Postaráme se o to!</span>
                </p>

                <p class="mt-4 mb-0 text-center text-sm-start">
                    <a href="{{ 'sluzba'|page({"slug": "aukce-nemovitosti"}) }}" class="btn btn-outline-white text-uppercase">
                        Chci prodat nebo koupit
                    </a>
                </p>
            </div>
        </div>

{#        <div class="swiper-slide">#}
{#            <picture>#}
{#                <source srcset="{{ 'assets/images/slides/06-sm.jpg'|theme }}" media="(max-width: 575px)">#}

{#                <img src="{{ 'assets/images/slides/06.jpg'|theme }}" alt="slide01" class="img-fluid of-sm-cover">#}
{#            </picture>#}

{#            <div class="container-lg position-absolute">#}
{#                <p class="h1 lh-76 text-white mb-4 text-center text-sm-start">#}
{#                    V pojistných podmínkách <br>#}
{#                    se vyznáme#}
{#                </p>#}

{#                <p class="mt-3 pt-3 border-1 border-green-light border-top fs-35 lh-46 fst-italic text-center text-sm-start">#}
{#                    <span class="fw-bold">Známe nejčastější výluky</span> a vždy sedíme s Vámi na stejné straně stolu!#}
{#                </p>#}

{#                <p class="mt-4 mb-0 text-center text-sm-start">#}
{#                    <a href="{{ 'sluzba'|page({"slug": "aukce-nemovitosti"}) }}" class="btn btn-outline-white text-uppercase">#}
{#                        Chci pojištění#}
{#                    </a>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
    </div>

    <div class="swiper-pagination container-lg start-50 translate-middle-x text-xl-start"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
