@import "custom"

@mixin mask-image($image, $width: 24, $height: 24)
    mask-image: url("../images/#{$image}.svg")
    -webkit-mask-image: url("../images/#{$image}.svg")
    mask-size: cover
    -webkit-mask-size: cover
    width: #{$width}px
    height: #{$height}px
    display: inline-block

.mi
    &-signature
        @include mask-image("signature", 85, 25)

.btn
    text-transform: uppercase

    &.btn-sm
        --bs-btn-font-weight: var(--bs-font-weight-semibold)
        --bs-btn-border-width: 1px
        text-transform: none

    &.btn-blue
        --bs-btn-color: var(--bs-white)
        --bs-btn-hover-color: var(--bs-blue)
        --bs-btn-hover-bg: var(--bs-white)
        --bs-btn-hover-border-color: var(--bs-white)
        --bs-btn-active-color: var(--bs-blue)
        --bs-btn-active-bg: var(--bs-white)
        --bs-btn-active-border-color: var(--bs-white)

    &.btn-outline-green
        --bs-btn-color: var(--bs-white)
        --bs-btn-hover-color: var(--bs-white)
        --bs-btn-hover-border-color: var(--bs-white)
        --bs-btn-hover-bg: transparent
        --bs-btn-active-color: var(--bs-white)
        --bs-btn-active-border-color: var(--bs-white)
        --bs-btn-active-bg: transparent

        i
            transition: $transition-base

        &:hover
            i
                color: var(--bs-white) !important

    &.btn-outline-green-light
        --bs-btn-color: var(--bs-white)
        --bs-btn-hover-color: var(--bs-green)
        --bs-btn-hover-bg: var(--bs-white)
        --bs-btn-hover-border-color: var(--bs-white)
        --bs-btn-active-color: var(--bs-green)
        --bs-btn-active-bg: var(--bs-white)
        --bs-btn-active-border-color: var(--bs-white)

    &.btn-outline-black-lighter
        --bs-btn-color: var(--bs-black-lighter)
        --bs-btn-hover-color: var(--bs-black-lighter)
        --bs-btn-hover-border-color: var(--bs-green)
        --bs-btn-hover-bg: transparent
        --bs-btn-active-color: var(--bs-black-lighter)
        --bs-btn-active-border-color: var(--bs-green)
        --bs-btn-active-bg: transparent

        i
            transition: $transition-base

        &:hover
            i
                color: var(--bs-green) !important

    &.btn-outline-white
        i
            transition: $transition-base
            color: var(--bs-white) !important

        &:hover
            i
                color: var(--bs-black) !important

header
    z-index: 10

    .logo
        a
            mask-image: url("../images/logo.svg")
            mask-size: cover
            height: 30px
            width: 128px

#slider
    .swiper
        .swiper-slide
            .container-lg
                bottom: 85px

                @include media-breakpoint-up(sm)
                    bottom: auto
                    left: 50%
                    top: 50%
                    transform: translateX(-50%) translateY(-50%)

                @include media-breakpoint-down(lg)
                    padding-left: map-get($gutters, 4)
                    padding-right: map-get($gutters, 4)

                p
                    max-width: 530px

                    @include media-breakpoint-up(lg)
                        max-width: 620px

                    @include media-breakpoint-up(xl)
                        max-width: 655px

            img
                @include media-breakpoint-up(sm)
                    height: 700px

                @include media-breakpoint-up(md)
                    height: 800px

                @include media-breakpoint-up(xxl)
                    height: auto

        .swiper-pagination
            margin-left: -3px
            bottom: 30px

            @include media-breakpoint-up(sm)
                bottom: 90px

            @include media-breakpoint-up(md)
                bottom: 100px

            @include media-breakpoint-down(lg)
                padding-left: map-get($gutters, 4)
                padding-right: map-get($gutters, 4)

            .swiper-pagination-bullet
                --swiper-pagination-bullet-width: 13px
                --swiper-pagination-bullet-height: 13px
                --swiper-pagination-bullet-inactive-color: var(--bs-white)
                --swiper-pagination-bullet-inactive-opacity: 1
                --swiper-pagination-color: var(--bs-green)
                --swiper-pagination-bullet-horizontal-gap: 6px

        .swiper-button-prev, .swiper-button-next
            color: $white

        .swiper-button-prev
            left: 15px

        .swiper-button-next
            right: 15px

        @include media-breakpoint-down(xl)
            .swiper-button-prev, .swiper-button-next
                top: auto
                margin-top: 0
                bottom: 33px

        @include media-breakpoint-down(lg)
            --swiper-navigation-size: 20px

        @include media-breakpoint-only(sm)
            .swiper-button-prev, .swiper-button-next
                bottom: 93px

        @include media-breakpoint-only(md)
            .swiper-button-prev, .swiper-button-next
                bottom: 103px

        @include media-breakpoint-only(lg)
            .swiper-button-prev, .swiper-button-next
                bottom: 91px

#offcanvas
    .btn
        text-transform: none !important

#o-nas
    .swiper
        overflow: visible

        .swiper-pagination
            bottom: 0

            .swiper-pagination-bullet
                --swiper-pagination-bullet-width: 13px
                --swiper-pagination-bullet-height: 13px
                --swiper-pagination-bullet-inactive-color: var(--bs-gray)
                --swiper-pagination-bullet-inactive-opacity: 1
                --swiper-pagination-color: var(--bs-green)
                --swiper-pagination-bullet-horizontal-gap: 6px

        .swiper-button-prev, .swiper-button-next
            --swiper-navigation-color: var(--bs-green)

            &:after
                --swiper-navigation-size: var(--bs-font-size-35)

            &.swiper-button-disabled
                opacity: 1

        .swiper-button-prev
            left: 0
            transform: translateX(-200%)

        .swiper-button-next
            right: 0
            transform: translateX(200%)

#about-us
    background: linear-gradient(135deg, var(--bs-blue) 0%, var(--bs-green) 100%)

    .img
        width: 250px
        height: 250px

#nase-sluzby
    .services
        .service
            a
                z-index: 1

                .img
                    span
                        mask-size: cover
                        -webkit-mask-size: cover
                        width: 207px
                        height: 159px

                .title
                    span
                        width: 70%

                        @include media-breakpoint-only(sm)
                            width: 100%

                        @include media-breakpoint-only(lg)
                            width: 100%

                &:hover
                    .img
                        span
                            background-color: var(--bs-black-lighter) !important

                    .border-green
                        border-color: var(--bs-black-lighter) !important

                    .title
                        color: var(--bs-black-lighter) !important

                    &:before
                        opacity: 1

                &:before
                    content: ""
                    position: absolute
                    left: 0
                    top: 0
                    right: 0
                    bottom: 0
                    background: linear-gradient(135deg, var(--bs-white) 0%, var(--bs-white) 100%)
                    z-index: -1
                    opacity: 0
                    transition: $transition-base
                    border-radius: $border-radius-xl

            &.odd
                a
                    background: linear-gradient(135deg, var(--bs-green) 0%, var(--bs-blue) 100%)

            &.even
                a
                    background: linear-gradient(135deg, var(--bs-blue) 0%, var(--bs-green) 100%)

#team
    background: linear-gradient(90deg, var(--bs-green) 0%, var(--bs-blue) 100%)

    .team
        .col
            .img
                a
                    img
                        transition: $transition-base

                    &:hover
                        img
                            transform: scale(1.05)

            a
                color: $black
                transition: $transition-base

                &:hover
                    color: $white

    &.page
        background: var(--bs-white)

        .team
            .col
                a
                    &:hover
                        color: var(--bs-blue)

    &-member
        .img
            @include media-breakpoint-up(xl)
                top: 40px !important
                transform: translateY(0) !important

            img
                max-height: 100px

                @include media-breakpoint-up(md)
                    max-height: 130px

                @include media-breakpoint-up(md)
                    max-height: none

        .comments
            .comment
                .content
                    p
                        &:last-child
                            margin-bottom: 0

.border-before
    &:before
        content: ""
        position: absolute
        width: 50px
        height: 2px
        background: var(--bs-green)
        display: block
        top: -1px
        left: 50%
        transform: translateX(-50%)

footer
    #scf-contactform
        form
            //&.was-validated
                .form-group
                    &:before
                        top: 14px

            .form-group
                position: relative

                &.has-error
                    display: flex
                    flex-direction: column

                    input
                        order: 0

                    small
                        order: 10
                        display: block
                        font-size: var(--bs-font-size-16)

                input, textarea
                    padding-left: calc($input-padding-x * 2.2)

                &:before
                    font-family: bootstrap-icons
                    position: absolute
                    font-size: var(--bs-font-size-16)
                    top: 23px
                    left: calc($input-padding-x + ($grid-gutter-width / 2))
                    line-height: 1
                    color: $input-placeholder-color

                &.name
                    &:before
                        content: "\F4E1"

                &.email
                    &:before
                        content: "\F32F"

                &.phone
                    &:before
                        content: "\F5C1"

                &.text
                    &:before
                        content: "\F4CB"

            button
                display: flex
                align-items: center

#blog
    .posts
        .post
            .img
                a
                    &:hover
                        img
                            transform: scale(1.05)

            .excerpt
                p
                    &:last-child
                        margin-bottom: 0

.post
    .content
        p
            margin-bottom: map-get($spacers, 4)

            & + h2, & + h3
                margin-top: map-get($spacers, 5)

        h2, h3
            margin-bottom: map-get($spacers, 4)

        h2
            & + h3
                margin-top: map-get($spacers, 5)

        ul, ol
            padding-left: 1rem
            list-style: none
            margin-bottom: map-get($spacers, 4)

            li
                position: relative

                &:not(:first-child)
                    margin-top: 5px

                &:before
                    position: absolute
                    left: -1rem

        ul
            li
                &:before
                    content: ""
                    width: 6px
                    height: 6px
                    border-radius: 10px
                    background-color: $green
                    top: 11px

        ol
            counter-reset: li
            padding-left: 1.5rem

            li
                counter-increment: li

                &:before
                    content: counter(li)"."
                    color: $green
                    left: -1.5rem

#copyright
    background: linear-gradient(90deg, var(--bs-blue) 0%, var(--bs-green) 100%)

    .nav
        li
            a
                &.active
                    color: var(--bs-black-lighter) !important

            &:not(:first-child)
                a
                    border-left: 1px solid var(--bs-white)

#cookies-bar
    @include media-breakpoint-down(md)
        left: 20px !important

#sg-settings-modal-cookiesbar
    .modal-dialog
        .modal-content
            padding: 40px

            .modal-header
                padding: 0
                border-bottom: none

            .modal-body
                padding: 0

            .modal-footer
                padding: 0
                border-top: none
