<div class="team row row-cols-1 gx-4 gy-5 row-cols-sm-2 row-cols-lg-3">
    {% for post in posts %}
        <div class="col d-flex flex-column">
            <p class="img d-flex justify-content-center mb-0">
                <a href="{{ 'clen-tymu'|page({slug: post.slug}) }}">
                    <img src="{{ post.image.thumb(195, 195, {"mode": "crop"}) }}" alt="{{ image.description }}" class="img-fluid">
                </a>
            </p>

            <p class="name mb-0 mt-4 h2 fst-italic text-center fw-semibold">
                <a href="{{ 'clen-tymu'|page({slug: post.slug}) }}">
                    {{ post.title }}
                </a>
            </p>
        </div>
    {% endfor %}
</div>
