{% set posts = __SELF__.posts %}

<div class="swiper reviews-swiper">
    <div class="swiper-wrapper pb-5 pb-xl-0">
        {% for post in posts %}
            <div class="swiper-slide p-4 h-auto border border-2 {% if loop.index is odd %}border-green{% else %}border-blue{% endif %}">
                <div class="row g-4">
                    {% set image = post.featured_images.first %}

                    {% if image %}
                        <div class="col-12 text-center col-sm-auto text-sm-start col-md-12 text-md-center col-lg-auto text-lg-start">
                            <img src="{{ image.thumb(134, 134, {"mode": "crop"}) }}" alt="{{ image.description }}">
                        </div>
                    {% endif %}

                    <div class="content col-12 mt-4 col-sm col-md-12 col-lg">
                        {{ post.content|striptags }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="swiper-pagination d-xl-none"></div>

    <div class="swiper-button-prev d-none d-xl-flex"></div>
    <div class="swiper-button-next d-none d-xl-flex"></div>
</div>
